/*reset*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
img{border:0;display:block;}
input{outline:none;}

/*顶部广告*/
.top-banner{width: 100%;height:120px;background-repeat: no-repeat;background-position: center 0;}
/*顶部导航*/
#top{width: 100%;height: 40px;background: #333;}
.nav-top{width: 1226px;height: 40px;margin:0 auto;font-size: 12px;}
  /*顶部左导航*/
.nav-top .left_nav{height: 40px;float: left;}
.left_nav li{float: left;}
.nav-top a{color: #b0b0b0;line-height: 40px;text-align: center;}
.nav-top .sep{margin: 0 .5em;color: #424242;}
.nav-top a:hover{color:white}
  /*顶部右导航*/
.nav-top .right_nav{width: 285px;height: 40px;float: right;}
.right_nav li{float: left;}
.right_nav li a{display:block;width: 40px;height:40px;margin-right:0;box-shadow:none;background: url(../images/bg1.jpg) no-repeat right center;}
.right_nav li:nth-child(3) a{width: 85px;}
.nav-top .right_nav li:nth-child(4) a{width: 79px;background:#424242 url(../images/bg1.png) no-repeat 17px center;padding-left: 41px;}

/* main导航 */
#main_nav{width: 100%;}
.main_nav{width:1226px;height: 100px;margin: 0 auto;margin: 0 auto;}
.main_nav .main_navLeft{width: 109px;height: 100px;float: left;}
.main_nav .main_navLeft img{width: 55px;height: 55px;margin:22px 0 22px 0;}
.main_nav .main_navCenter{width: 596px;height: 100px;float: left;margin-left: 162px;}
.main_navCenter li{float: left;}
.main_navCenter li a{display: block;line-height: 100px;font-size: 14px;margin-right: 20px;color: #333;}
.main_navCenter li:nth-child(1) a{width: 64px;position: relative;}
.first_ul{width: 100%;height: 300px;position: absolute;background: #fff;
	left: 0;top: 260px;border-top: 1px solid #ccc;display: flex;}
.first_ul li{float: left;text-align: center;align-self: center;
	width: 250px;position: relative;border-right: 1px solid #ccc;}
.first_ul li img{width: 150px;height: 160px;margin-top: 40px;margin-left:50px;}
.first_ul li p{color: #f66000;width: 98px;height: 30px;
	border: 1px solid #f66000;line-height: 30px;position: absolute;top: 0px;left:75px;}
.first_ul .child_last{border: 0;}
.first_ul h3{font-size: 16px;text-align: center;}
.first_ul span{color: #f66000;font-size: 14px;}
.first_ul{display: none;z-index: 10;}
.main_navCenter li a:hover{color: red;}
/*.main_navCenter .li1:hover .first_ul{display: block}*/
.main_navRight{width: 297px;height: 100px;float: left;margin-left:62px;position: relative;}
.main_navRight .text{width: 243px;height: 48px;margin-top:26px;float: left;border: 1px solid #e0e0e0;position: relative;}
.main_nav .main_navRight .submit{width: 52px;height:50px;
	background:url(../images/search_03.png) no-repeat;border: 1px solid #e0e0e0;margin-top:26px;border-left: 0;}
.search-list {display: none;position: absolute;top: 76px;right: 54px;width: 243px;z-index: 1000;}
.search-list > li {color: #000;font: 14px arial;line-height: 22px;padding: 0 8px;background: white;cursor: pointer;}
.search-list > li:hover {background-color: #eee;}
/* banner */
/* left */
#banner{width: 1226px;height: 442px;background: #ccc;margin: 0 auto;overflow: hidden;position: relative;}
#banner .banner_nav{z-index:100;width: 235px;height: 442px;background:rgba(0, 0, 0, 0.7);position: absolute;}
/*.banner_nav{width: 234px;background: #490000;height: 460px;position: absolute;z-index: 10;}*/
.banner_nav li{position: relative;height: 42px;}
.icon-arrow-right{color: #fff;position: absolute;right: 20px;top: 12px;}
.banner_nav li a{display: block;width: 204px;padding-left: 30px;
	font-size: 12px;line-height: 42px;color: #fff;}
.banner_nav>li:nth-child(1){padding-top: 20px;}
.banner_nav li:nth-child(1) .icon-arrow-right{top: 32px;}
.banner_nav li a:hover{background: #ff6700}
.banner_nav li:nth-child(2):hover .nav2None{display: block;z-index: 10;}
.banner_nav .banner_nav2{position: relative;}
.banner_nav .banner_nav2 .nav2None{width: 795px;height:460px;background:#fff;position: absolute;
           left: 234px;top: -62px;display:none;}
.banner_nav2 .nav2None .first,.second,.third{width: 180px;height: 460px;float: left;margin-left: 87px;}
.banner_nav2 .nav2None .first{margin-left: 20px;}
.banner_nav .nav2None li a{display: block;height: 40px;width: 180px;margin-left: 20px;font-size: 14px;color: #353535;
	 margin-top: 22px;background: none;}
.banner_nav .nav2None li a:hover{color: red;}
.nav2None .first li:nth-child(1){background: url(../images/img1_1.jpg) no-repeat left bottom;}
.nav2None .first li:nth-child(2){background: url(../images/img1_1.jpg) no-repeat left bottom;}
.nav2None .first li:nth-child(3){background: url(../images/img1_1.jpg) no-repeat left bottom;}
.nav2None .first li:nth-child(4){background: url(../images/img2_2.jpg) no-repeat left bottom;}
.nav2None .first li:nth-child(5){background: url(../images/img3_3.jpg) no-repeat left bottom;}
.nav2None .first li:nth-child(6){background: url(../images/img4.jpg) no-repeat left bottom;}
.nav2None .second li:nth-child(1){background: url(../images/img4.jpg) no-repeat left bottom;}
.nav2None .second li:nth-child(2){background: url(../images/img5.jpg) no-repeat left bottom;}
.nav2None .second li:nth-child(3){background: url(../images/img6.jpg) no-repeat left bottom;}
.nav2None .second li:nth-child(4){background: url(../images/img7.jpg) no-repeat left bottom;}
.nav2None .second li:nth-child(5){background: url(../images/img8.jpg) no-repeat left bottom;}
.nav2None .second li:last-child{background: url(../images/img9.jpg) no-repeat left bottom;}
.nav2None .third li:last-child{background: url(../images/img10.jpg) no-repeat left bottom;}

#banner .ul{width: 6130px;height: 442px;position: absolute;left: 0;top: 0;}
#banner .ul li{float: left;}
#banner .ul img{width: 1226px;height: 100%;float: left;}
.ol{width: 200px;height: 20px;position: absolute;right: 100px;bottom: 20px;}
.ol li{width: 20px;height: 20px;border-radius: 50%;text-align:center;line-height:20px;
	background: rgba(255,255,255,0.7);color:#000;margin-right: 10px;
	float: left;cursor: pointer;}
.ol .active{background: rgba(255,255,255,0.4);}

/*服务功能*/
#service{width: 1226px;height:170px;margin: 19px auto;}
.service_left{width:234px;height: 170px;background: #5f5750;float: left;}
.service_left li{float: left;}
.service_left li a{display:block;width: 76px;height: 24px;color: #cdcac8;font-size: 12px;
	text-align: center;padding-top: 60px;background: url(../images/images1.jpg) no-repeat center;}
.service_left li:nth-child(1) a{border-bottom:1px solid #665e57;}
.service_left li:nth-child(2) a{border:1px solid #665e57;border-top: 0;background: url(../images/images2.jpg) no-repeat center;}
.service_left li:nth-child(3) a{border-bottom:1px solid #665e57;background: url(../images/images3.jpg) no-repeat center;}
.service_left li:nth-child(4) a{border-right:1px solid #665e57;background: url(../images/images4.jpg) no-repeat center;}
.service_left li:nth-child(5) a{border-right:1px solid #665e57;background: url(../images/images5.jpg) no-repeat center;}
.service_left li:nth-child(6) a{border:0;background: url(../images/images6.jpg) no-repeat center;}
.service_left li a:hover:hover{color:#fff;}
.service_right{float: left;margin-left: 15px;}
.service_right a{display: block;width: 316px;height: 170px;float: left;margin-right: 14px;-webkit-transition: -webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear;}
.service_right img{width: 100%;height: 100%;}
.service_right a:nth-child(3){margin: 0;float: right;}
.service_right a:hover{box-shadow: 5px 5px 5px #ccc;}

/* 小米闪购 */
.mi_shopping{width: 1226px;height: 380px;margin: 0 auto;}
.mi_shopping p{font-size: 22px;line-height: 22px;margin-bottom: 19px;margin-top:44px;}
.mi_shopping .shopCase{width: 1226px;height:340px;}
.mi_shopping .shopCase li{float: left;text-align: center;}
.mi_shopping .shopCase li a{width: 234px;height: 339px;display: block; background: #fafafa;margin-right: 14px;
border-top:1px solid #ffac13;text-align: center;}
.mi_shopping .shopCase li a img{padding-top:56px;display: inline-block;}
.mi_shopping .shopCase li:nth-child(2) a img{padding-top:57px;}
.mi_shopping .shopCase li:nth-child(3) a img{padding-top: 54px;}
.mi_shopping .shopCase li:nth-child(4) a img{padding-top: 80px;padding-bottom: 18px;}
.mi_shopping .shopCase li:nth-child(5) a img{padding-top: 52px;}

.mi_shopping .shopCase li:nth-child(2) a{border-color: #83c44e;}
.mi_shopping .shopCase li:nth-child(3) a{border-color: #2196f3;}
.mi_shopping .shopCase li:nth-child(4) a{border-color: #e53935;}
.mi_shopping .shopCase li:nth-child(5) a{border-color: #00c0a5;}
.mi_shopping .shopCase li:last-child a{margin: 0;float: right;}

.mi_shopping .shopCase .p1{font-size: 12px;color:#212121;line-height:12px;padding-top: 52px;margin: 0px;}
#con .mi_shopping .shopCase li:nth-child(2) .p1{padding-top: 48px;}
#con .mi_shopping .shopCase li:nth-child(3) .p1{padding-top: 49px;}
#con .mi_shopping .shopCase li:nth-child(4) .p1{padding-top: 66px;}
#con .mi_shopping .shopCase li:nth-child(5) .p1{padding-top: 46px;}
.mi_shopping .shopCase .p2{font-size: 12px;color:#b0b0b0;line-height:12px;margin-top:11px;}
.mi_shopping .shopCase .p3{font-size: 12px;color: red;line-height: 12px;margin-top: 20px;}
.shopCase .first_li .p1{font-size: 18px;color: #f66000;}
.shopCase .first_li .p3{font-size: 12px;color: #333;}
.first_li .time{color:#fff;font-size:24px;line-height:46px;text-align:center;width: 46px;height: 46px;background: #605751;margin-top:20px;margin-right: 15px;float: left;}
.first_li .time1{margin-left: 33px;}

/*中间广告*/
.cons1{width: 1226px;height: 120px;margin: 40px auto;}
.cons1 img{width: 100%;height: 100%;}
/* jiad */
#con_box{width: 100%;background: #f5f5f5;}
#content2{width: 1226px;background:#f5f5f5;margin:0 auto;margin-top: 40px;}
#phone,#jiadian,#tuijian,#vedio{width: 1226px;height: 656px;margin: 0 auto;}
#phone .con_top,#jiadian .con_top,#tuijian .con_top,#vedio .con_top{width: 1226px;height: 81px;
	position: relative;}
#phone .con_top p,#jiadian .con_top p,#tuijian .con_top p,#vedio .con_top p{font-size: 22px;float:left;line-height: 22px;color: #333;
	padding-top: 40px;padding-bottom: 19px;}
#phone .con_top a,#jiadian .con_top a,#vedio .con_top a{display:block;font-size: 16px;float: right;line-height: 16px;
	margin-right: 30px;padding-top: 40px;padding-bottom: 19px;color: #333;}
#phone .con_top i,#jiadian .con_top i,#vedio .con_top i{position: absolute;right: 10px;top: 40px;}
#phone .con_top a:hover,#jiadian .con_top a:hover,#vedio .con_top a:hover{color: #f66000;}
#phone .left4,#jiadian .left4{width: 235px;height: 595px;float: left;}
#phone .left4 a,#jiadian .left4 a{display: block;float:left;width: 235px;height: 595px;
	-webkit-transition: all .2s linear;transition: all .2s linear;}
#phone .left4 a:hover,#jiadian .left4 a:hover{box-shadow: 5px 5px 5px #ccc;}
#phone .left4 img,#jiadian .left4 img{width: 100%;height: 100%;}
.right4{width: 991px;height: 656px;float: left;}
.right4 li{-webkit-transition: all .2s linear;transition: all .2s linear;
	text-align:center;float: left;width: 234px;height: 291px;background: #fff;
	margin:0 14px 14px 0;position: relative;}
.right4 li:hover{box-shadow: 5px 5px 5px #ccc;}
.right4 li:nth-child(4),.right4 li:nth-child(8){margin-right: 0;}
.right4 li:nth-child(1),.right4 li:nth-child(5){margin-left: 13px; }
.right4 li a{display: block;width:120px;height:140px;background: #fff;margin: 30px auto;}
.right4 li a img{width: 100%;height:100%}
.right4 li h3{font-size: 14px;color: #333;line-height: 24px;}
#phone .right4 li h3 p,#jiadian .right4 li h3 p,#tuijian .right4 li h3 p{padding:0;font-size: 12px;color: #666;margin: 0;height: 24px;line-height: 24px;}
#phone .right4 li h3 span,#jiadian .right4 li h3 span,#tuijian .right4 li h3 span{diplay:block;color: #f66000;line-height: 30px;}
#jiadian .left4 a{display: block;width: 235px;height: 291px;margin-bottom: 14px;}
#jiadian .right4 .right4_box{height: 100px;width: 234px;background: #f66000;
	position: absolute;z-index:2;left: 0;bottom: 0;color: #fff;text-align: left;display: none;}
.right4_box h5{font-size: 16px;padding: 15px;}
.right4_box h6{font-size: 14px;color: #ffb380;padding: 0 15px;}
#jiadian .right4 li:hover .right4_box{display: block;}
#content2 .swiper-container {width: 1226px;height: 300px;overflow: hidden;}
#tuijian{height: 400px;}
#tuijian .ul{width: 1226px;height: 291px;}
#tuijian .right4{width: 1226px;height: 300px;}
#tuijian .right4 li:first-child{margin-left: 0;}
#tuijian .ul .right4 li:nth-child(5){float: left;margin-left: 14px;margin-right: 0;}
#vedio .con_top{height: 60px;}
#vedio .con_top p,#vedio .con_top a{padding: 0;}
#vedio .con_top a i{top: 0px;}
#vedio .vedio_box{width: 1226px;height: 285px;}
#vedio .vedio_box li{text-align:center;width: 296px;height: 285px;float: left;
	background: #fff;margin-right: 14px;-webkit-transition: all .2s linear;
	transition: all .2s linear;}
#vedio .vedio_box li:hover{box-shadow: 5px 5px 5px #ccc;}
#vedio .vedio_box li:last-child{margin-right: 0;}
#vedio .vedio_box li a{display: block;width: 296px;height: 180px;position: relative;}
#vedio .vedio_box li a img{width: 100%;height: 100%;}
.vedio_box li h3{font-size: 16px;margin-top: 32px;}
.vedio_box li p{font-size: 14px;color: #b0b0b0;margin-top: 10px;}
.vedio_box li i{position: absolute;left: 20px;bottom: 10px;color: #fff;}
.vedio_box li i:hover{color: #f66000;}
#footer_top{width: 1226px;height: 270px;background: #fff;margin-top: 60px;overflow: hidden;}
#footer_top .top_f{width: 1226px;height: 25px;padding: 27px 0;border-bottom: 1px solid #ccc;}
#footer_top .top_f li{width: 244px;height: 25px;text-align: center;border-right: 1px solid #ccc;
	float: left;}
#footer_top .top_f li:last-child{border: 0;}
.top_f li a{color: #666;display: block;position: relative;font-size: 16px;}
.top_f li a i{position: absolute;left: 50px;top: 3px;}
.top_f li:last-child a i{left: 45px;}
.top_f li a:hover{color: #f66000;}
.b_f{width: 960px;margin-top: 35px;border-right: 1px solid #ccc;height: 120px;float: left;}
.b_f li{width: 160px;float: left;text-align: center;}
.b_f li .b_fbox li{width: 160px;}
.b_f li .b_fbox li:first-child{font-size: 14px;color: #333;margin-bottom: 30px;}
.b_fbox li a{font-size: 14px;color: #666;line-height: 24px;}
.b_fbox li a:hover{color: #f66000;}
.b_left{width: 265px;height: 120px;float: left;text-align: center;margin-top: 35px;}
.b_left h2{font-size: 24px;color: #f66000;}
.b_left p{font-size: 14px;color: #666;line-height: 24px;}
.b_left span{width: 120px;height: 30px;display: block;border: 1px solid #f66000;
	line-height: 30px;font-size: 16px;margin: 10px auto;color: #f66000;}
	

.side_nav{
	height:128px;
}
.side_nav li{
	width:30px;
	height:40px;
	border:1px solid #ccc;
	position: relative;
}
.side_nav li p{
	width:80px;
	height:20px;
	border: 1px solid #ccc;
	position: absolute;
	left:-90px;
	top:10px;
	text-align: center;
	display: none;
	background: white;
}
